<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="../vendor/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/stylesheets/bootstrap-theme.min.css">
	<style type="text/css">
		.container-fluid {padding-left:0;padding-right:0;}
	</style>

	<script type="text/javascript" src="../vendor/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="../vendor/javascripts/angular.min.js"></script>
	<script type="text/javascript" src="../vendor/javascripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="alert alert-danger" role="alert">
		<%- message %>
	</div>
</body>